$bck-clr: hsla(120, 85%, 87%, 0.347);

.blackkk {
    color:black;
}

.backgr-color {
    background-color: $bck-clr;
}

.Dropdown-control.nav-link.dropdown-control {
    cursor: pointer;
}

.Dropdown-placeholder {
    margin-right: 15px;
}

.Dropdown-menu.dropdown-menu-custom {
    border: none;
    box-shadow: 5rem;
    max-height: none;
    max-width: auto;
}
