$bck-clr: hsla(120, 85%, 87%, 0.347);

.copyright {
    font-size: 15px;
    a { 
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}

